<div class="container">
   
    <div class="content__title">
        <h1>{{contentTitle}}</h1>
    </div>

    <div class="content__photoCover">
        <img 
        src="{{phtoCover}}"
        alt=""
        width="600px"
        height="400px"
        >
    </div>

    <div class="content__description">
        <p>
          {{contentDescription}}
        </p>       
    </div>

    <div class="content__back">
        <p>
            <a [routerLink]="['']"> VOLTAR << </a> 
        </p>
    </div>
    
</div>
